[submodule "components/michal-beder-tarzan"]
	path = components/michal-beder-tarzan
	url = https://github.com/nesfit/Tarzan.git
[submodule "docker-images/docker-livy"]
	path = docker-images/docker-livy
	url = https://gitlab.com/rychly-edu/docker/docker-livy.git
[submodule "docker-images/docker-zookeeper"]
	path = docker-images/docker-zookeeper
	url = https://gitlab.com/rychly-edu/docker/docker-zookeeper.git
[submodule "docker-images/docker-cassandra"]
	path = docker-images/docker-cassandra
	url = https://gitlab.com/rychly-edu/docker/docker-cassandra.git
[submodule "docker-images/docker-kafka"]
	path = docker-images/docker-kafka
	url = https://gitlab.com/rychly-edu/docker/docker-kafka.git
[submodule "docker-images/docker-yarn"]
	path = docker-images/docker-yarn
	url = https://gitlab.com/rychly-edu/docker/docker-yarn.git
[submodule "docker-images/docker-zeppelin"]
	path = docker-images/docker-zeppelin
	url = https://gitlab.com/rychly-edu/docker/docker-zeppelin.git
[submodule "docker-images/docker-spark"]
	path = docker-images/docker-spark
	url = https://gitlab.com/rychly-edu/docker/docker-spark.git
[submodule "docker-images/docker-hdfs"]
	path = docker-images/docker-hdfs
	url = https://gitlab.com/rychly-edu/docker/docker-hdfs.git
[submodule "docker-images/docker-hadoop-base"]
	path = docker-images/docker-hadoop-base
	url = https://gitlab.com/rychly-edu/docker/docker-hadoop-base.git
[submodule "docker-images/docker-spark-app"]
	path = docker-images/docker-spark-app
	url = https://gitlab.com/rychly-edu/docker/docker-spark-app.git
[submodule "docker-images/docker-halyard-webapps"]
	path = docker-images/docker-halyard-webapps
	url = https://gitlab.com/rychly-edu/docker/docker-halyard-webapps.git
[submodule "docker-images/docker-hadoop-hbase-base"]
	path = docker-images/docker-hadoop-hbase-base
	url = https://gitlab.com/rychly-edu/docker/docker-hadoop-hbase-base.git
[submodule "docker-images/docker-halyard-sdk"]
	path = docker-images/docker-halyard-sdk
	url = https://gitlab.com/rychly-edu/docker/docker-halyard-sdk.git
[submodule "docker-images/docker-hbase"]
	path = docker-images/docker-hbase
	url = https://gitlab.com/rychly-edu/docker/docker-hbase.git
[submodule "docker-images/docker-timeline-analyzer"]
	path = docker-images/docker-timeline-analyzer
	url = https://gitlab.com/rychly-edu/docker/docker-timeline-analyzer.git
[submodule "docker-images/docker-plaso"]
	path = docker-images/docker-plaso
	url = https://gitlab.com/rychly-edu/docker/docker-plaso.git
